body {
    max-width: 1024px;
    margin: 100px auto;
    overflow: auto;
    padding: 20px;
    transition: margin-left .5s;
}

@media only screen and (max-width: 1450px) {
    body {padding-left: 200px;}
}

.title {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #b4b4b4;
    padding-bottom: 30px;
}

.author{
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px #b4b4b4;
    padding-bottom: 50px;
}

.section-container {
    display: flex;
    margin-bottom: 100px;
}

.demo-block .buttons {
    display: inline-block;
}

.demo-block {
    min-width: 500px;
}

.buttons {
    margin-left: 20px;
    border: solid 2px black;
    padding: 20px 20px 20px 20px;
    margin-top: 60px;
    font-size: 20px;
    min-width: 700px;
    max-height: 550px;
    overflow-y: scroll;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: aliceblue;
    height: 30px;
    min-width: 30px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
    background-color: rgb(196, 202, 207);
}

.demo-code {
    margin-top: 5px;
    font-size: 20px;
    border: solid 2px black;
    margin-bottom: 5px;
    overflow-y: scroll;
    max-height: 250px;
    background-color: #f0f0f0;
}

pre {
    margin:0;
    padding-left: 10px;
    
}

code {
    font-size: 15px;
}


.section-title {
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    text-shadow: 2px 2px #cccbcb;
}

.eg {
    font-size:25px;
    padding: 10px 20px 10px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(51, 51, 182);
    text-shadow: 2px 2px #cfcece;
}

.example-container {
    padding: 20px;
    min-height: 250px;
}

#inventory-message {
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:cursive;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    color: red;
}

#event-list-message {
    margin-top: 30px;
    font-size: 20px;
    font-family:cursive;
    min-height: 100px;
}

#skill-panel-message {
    margin-top: 30px;
    font-size: 20px;
    font-family:cursive;
    min-height: 100px;
}

.message-log {
    padding-left: 20px;
    overflow-y: scroll;
    max-height: 100px;
    background-color: rgba(250, 221, 168, 0.774);
}