/* TRPG.JS                            */
/* Created by Echo Yuwen Zheng  2021  */
/* GitHub: echoztoronto               */
/* Email: ywzhengtoronto@gmail.com    */


/* --------- Attribute Panel-------------------------*/
.TRPG-aPanel-container {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

.TRPG-aPanel-attr {
    display: flex;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-bottom: 10px;
}

.TRPG-aPanel-attr-name .TRPG-aPanel-attr-value {
    display: inline-block;
    min-height: 30px;
    min-width: 200px;
    white-space: pre;
}

.TRPG-aPanel-attr-name {
    margin-right: 10px;
}

/* --------- Attribute Bar-------------------------*/
.TRPG-aBar-container {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

.TRPG-aBar-attr {
    margin-bottom: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.TRPG-aBar-attr-name {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.TRPG-aBar-attr-bar-container {
    width: 100%;
    height: 30px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: flex; 
    flex-flow: row nowrap;
}

.TRPG-aBar-attr-bar {
    flex: none; 
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.TRPG-aBar-attr-bar-content {
    height: 20px;
    position: relative;
    transition: width .5s linear;
}

.TRPG-aBar-attr-value {
    flex: none; 
    box-sizing: border-box;
    width: 100%;
    position: relative;
    font-size: 18px;
    margin-left: -100%;
}

/* --------- Inventory -----------------------------*/


.TRPG-inventory-table {
    margin: 20px 20px 20px 20px;
    background-color: rgb(246, 148, 91);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(179, 70, 51, 0.322) 0px 0px 0px 3px;
}



.TRPG-inventory-cell {
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 10px;
    border: 1px solid rgb(165, 88, 88);
    padding: 0; 
    margin: 0;
}

.TRPG-inventory-cell-container {
    display: flex; 
    flex-flow: row nowrap; 
    width: 100%; 
    height: 100%;
    padding: 0; 
    margin: 0;
}

.TRPG-inventory-cell img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    flex: none; 
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0 0 0 0;
}

.TRPG-inventory-quantity {
    box-sizing: border-box;
    flex: none; 
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-left: -100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.TRPG-inventory-option-menu {
    position: absolute;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    border-top : 1px solid rgb(78, 78, 78);
    border-left: 1px solid rgb(78, 78, 78);
    border-right: 1px solid rgb(78, 78, 78);
}

.TRPG-inventory-option {
    min-width: 60px;
    min-height: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid rgb(78, 78, 78);
    padding: 3px 5px 3px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.TRPG-inventory-option:hover {
    background-color: rgb(163, 207, 248);
}

.TRPG-inventory-info {
    position: absolute;
    background-color: rgb(253, 236, 213);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    border: solid 1px black;
}

.TRPG-inventory-item-name {
    min-width: 60px;
    min-height: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 3px 5px 3px 5px;
    font-size: 20px;
    font-family:cursive;
}

.TRPG-inventory-item-description {
    min-width: 60px;
    min-height: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 3px 5px 3px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






/*------------------- General -----------------------*/

.TRPG-description-container {
    z-index: 100;
    min-width: 100px;
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: white;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
